<?xml version='1.0' encoding='utf-8'?>
<widget id="com.comin2.aperooo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AperoTime</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Frederic TEISSIER
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="SplashScreen" value="foo" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="AutoHideSplashScreen" value="false" />
    <platform name="wp8">
              <icon src="www/res/wp/beer.png" width="99" height="99" />
              <!-- tile image -->
              <icon src="www/res/wp/beer-large.jpg" width="159" height="159" />
              <splash src="www/res/screens/wp8/SplashScreenImage.jpg" width="480" height="800"/>
     </platform>
</widget>
